
#add{
  padding: 10px;
  /* margin: auto;  */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
#dda {
  padding: 10px;

  /* margin: auto;  */
  justify-content: center;
  align-items: center;
}

#title{
  /* margin: auto;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

#bulb{
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
