.body{
  background-color: aquamarine;
}
#add{
  background-color: rgb(133, 177, 202);
  padding: 10px;
  border-radius: 50%;
  margin: 10px; 
  align-self: center;
 
}
#dda {
  background-color: rgb(202, 133, 144);
  padding: 10px;
  border-radius: 50%;
  margin: 10px; 
  align-self: center;

} 

#title{
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#bulb{
  margin: auto; 
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle{
  margin: auto; 
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
